.chat-body {
  padding: 100px 0px 0px 0px;
  background-image: url("../images/chat-bg.png");
  min-height: 200vh;
}

.chat-body .header-wrapper {
  background-color: white;
  position: fixed;
  top: 0px;
  width: 100%;
  padding-top: 10px;
  box-shadow: 0 7px 14px rgba(50, 50, 93, 0.5), 0 3px 6px rgba(0, 0, 0, 0.08);
}

.header-wrapper .status-bar,
.header-wrapper .header {
  padding: 0px 20px;
}

.chat .chat__messages {
  display: flex;
  flex-direction: column;
  align-items: center;
  border-top: 1px solid #f7f7f7;
}

.chat .chat__timestamp {
  background-color: #b7b7b7;
  color: #f7f7f7;
  margin: 15px 0px;
  padding: 7px 10px;
  border-radius: 20px;
  font-size: 12px;
  text-transform: uppercase;
}

.chat .message {
  display: flex;
  width: 70%;
  margin-bottom: 15px;
}

.chat .incoming-message {
  align-self: flex-start;
}

.chat .sent-message {
  align-self: flex-end;
}

.incoming-message img {
  width: 40px;
  height: 40px;
  border-radius: 40%;
  margin-left: 10px;
}

.message .message__author {
  font-size: 12px;
  margin-bottom: 5px;
  display: block;
  font-weight: 600;
}

.message .message__content {
  font-size: 15px;
  margin: 0px 10px;
}

.message .message__bubble {
  padding: 10px 20px;
  border-radius: 20px;
  word-break: break-all;
}

.incoming-message .message__bubble {
  border-bottom-left-radius: 0px;
  background-image: linear-gradient(to right, #f0c27b, #4b1248);
  box-shadow: 0 7px 14px rgba(50, 50, 93, 0.5), 0 3px 6px rgba(0, 0, 0, 0.08);
  color: white;
}

.sent-message .message__bubble {
  border-bottom-right-radius: 0px;
  background-image: linear-gradient(to right, #00c6ff, #0072ff);
  box-shadow: 0 7px 14px rgba(50, 50, 93, 0.5), 0 3px 6px rgba(0, 0, 0, 0.08);
  color: white;
}

.message .message__timestamp {
  font-size: 10px;
  align-self: flex-end;
}

.chat__write {
  background-color: #f7f7f7;
  position: fixed;
  bottom: 50px;
  width: 80%;
  margin: 0 auto;
  left: 0;
  right: 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0px 10px;
  border-radius: 40px;
  box-shadow: 0 7px 14px rgba(50, 50, 93, 0.5), 0 3px 6px rgba(0, 0, 0, 0.08);
}

.chat__write .chat__write-column:nth-child(1),
.chat__write .chat__write-column:nth-child(3),
.chat__write .chat__write-column:nth-child(4) {
  width: 8%;
}

.chat__write .chat__write-column:nth-child(2) {
  width: 76%;
}

.chat__write .chat__write-column {
  margin: 0 3px;
}

.chat__write input {
  width: 100%;
  padding: 15px 0px;
  border: none;
  font-size: 14px;
}

.chat__write input:focus {
  outline: none;
}

.chat__write span {
  display: flex;
  justify-content: center;
  font-size: 20px;
}
