.friend {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.friend .friend__avatar {
  width: 50px;
  border-radius: 40%;
  margin-right: 15px;
}

.friend .friend__avatar.m-avatar {
  width: 60px;
  border-radius: 40%;
}

.friend .friend__avatar.g-avatar {
  width: 70px;
  border-radius: 40%;
}

.friend .friend__column {
  display: flex;
  align-items: center;
}

.friend__content .friend__name {
  display: block;
  margin-bottom: 5px;
}

.friend__content .friend__status,
.friend__content .friend__snippet,
.friend .friend__timestamp {
  opacity: 0.6;
}

.friend__content .friend__status,
.friend .friend__now-listening,
.friend .friend__timestamp {
  font-size: 80%;
}

.friend__content .friend__snippet {
  font-size: 85%;
}

.friend .friend__now-listening {
  padding: 5px 10px;
  border-radius: 20px;
  border: 1px solid #52e084;
}

.friend__now-listening span {
  opacity: 0.6;
}

.friend__now-listening i {
  font-size: 10px;
}
